[submodule "ai/extra-ai-evaluator"]
	path = ai/extra-ai-evaluator
	url = https://huggingface.co/spaces/extra-corporation/extraAI
[submodule "ai/extra-ai-generator"]
	path = ai/extra-ai-generator
	url = https://huggingface.co/spaces/extra-corporation/extra-ai-generator
